/*
@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");
*/

.login-image.img{
    border-radius: 10px;
}

.login-form{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
}

.login-button{
    background-color: black;
}

.capfont{
     font-family: "Sofia", sans-serif;
}
.headfont{
      font-family: "Audiowide", sans-serif;
}
